body {
  background-image: url("https://images.pexels.com/photos/194511/pexels-photo-194511.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(0.5);
  min-height: 100vh;
  min-width: 100wh;
  margin-bottom: 100px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
}

.p-b {
  padding-bottom: 4rem;
}

.m-t {
  margin-top: 19px;
}
