<h1>Ces Magasins proposent des jeux correspondant à votre recherche</h1>
<div class="d-flex flex-column">
  <%@games.each do |game|%>
    <%= link_to store_path(store) do %>
      <div class="card-store">
        <img src="/assets/Starfield" />
        <div class="card-store-infos">
          <h2><%=game.store.name%></h2>
          <p>Se trouve à moins de 1km</p>
          <i class="fa-solid fa-shop"></i>
        </div>
      </div>
    <%end%>
  <%end %>
</div>

<!--Tous ca c'est a mettre dans la carte de xavier après-->
