<h1>Stores#index</h1>
<p>Find me in app/views/stores/index.html.erb</p>
<div class="d-flex flex-column">
  <%@games.each do |game|%>
    <div>
    <%=game.title%>
    <%=game.price%>
    <%=game.store.name%>
    <p>---------------------------------</p>
    </div>
  <%end%>
</div>

<!--Tous ca c'est a mettre dans la carte de xavier après-->
