<h1 class="text-light"><%= @booking.game.title %></h1>

<div class="container">
  <div class="container-fluid">
    <p>Votre Reservation à bien été effectuée</p>
    <p>Vous avez jusqu'a <%= @booking.limit_date %> pour venir le récupérer ici : <%= @booking.game.store.address %></p>
</div>>
</div>>
