<div class="container">
  <nav class="navba">
    <div class="nav-content">
      <%= link_to root_path do %>
      <% image_tag('Logo.png', class:"logo") %>
      <% end %>
      <%= link_to new_battle_path do %>
      <i class="fa-solid fa-gamepad"></i>
      <% end %>
      <a class="navbar-brand" href=""><img class="avatar-bordered" alt="avatar-bordered" src="https://avatars.githubusercontent.com/u/154015046?v=4" /></a>
    </div>
  </nav>
</div>
