<div class="seller-grid">
  <div class="seller-card1">
    <h6 class="text-white">Ajouter un jeu</h6>
  </div>
  <div class="cards-seller">
    <div class="seller-card2">
      <h6>Modifier un Jeu</h6>
    </div>
    <div class="seller-card3">
      <p>Vos réservations en cours</p>
  </div>
  </div>
</div>
