<p id="demo" data-controller="timer" data-timer-limit-date-value="
                                      <%= booking_last.limit_date %>"
                                      data-timer-created-date-value="<%= booking_last.created_at %>"
                                      style="font-size: 14px; margin-left: 20px;margin-top: 17px;">
</p>
