
<div id="description">
    <div class="row">
      <%= render 'shared/description' %>
<!--    <div class="col-md-8">-->
      <!--% <img src="path_to_image" alt="Description image" class="img-fluid"> %>-->
<!--    </div>-->
  </div>
</div>

<%= render 'searchbar' %>
<%= render 'bento' %>
