<div class="mt-2">
  <div class="game-card">
    <%= image_tag "micromania.jpg", alt: "Micromania", class: 'game-card-img' %>
    <div class="game-infos">
      <h3>Micromania</h3>
      <p>Magasin d'Emm'</p>
      <p>10€ </p>
    </div>
  </div>
</div>
