<div class="container" data-controller="swipe">
  <div class="set1 swiper-container" data-swipe-target="cardBattle1">
    <div class="swiper-wrapper">
      <% @first_games.each do |first_game| %>
        <div class="swiper-slide">
          <%= render 'shared/card_battle', game: first_game, swipe_target: "cardBattle1" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="set2 swiper-container" data-swipe-target="cardBattle2">
    <div class="swiper-wrapper">
      <% @second_games.each do |second_game| %>
        <div class="swiper-slide">
          <%= render 'shared/card_battle', game: second_game, swipe_target: "cardBattle2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
