<div class="container fixed-bottom">
  <div class="wrapper">
    <div class="grid1" style="border-radius: 10px;">
      <p>Contenu 1</p>
    </div>
    <div class="grid2" style="border-radius: 10px;">
      <p>Contenu 2</p>
    </div>
    <div class="grid3" style="border-radius: 10px;">
      <div class="grid3-part1" style="border-radius: 10px;">
        <p>Contenu 3 - Partie 1</p>
      </div>
      <div class="grid3-part2" style="border-radius: 10px;">
        <p>Contenu 3 - Partie 2</p>
      </div>
    </div>
    <div class="grid5" style="border-radius: 10px;">
      <p>Contenu 4</p>
    </div>
  </div>
</div>
