<div class="container" data-controller="swipe">
  <div id="swiper1" class="swiper-container" data-swipe-target="cardBattle1">
    <div class="swiper-wrapper1">
      <div class="swiper-slide">
          <div class="battle-card">
            <div class="battle-card-inner">
              <div class="battle-card-front">
                <img src="/assets/Starfield" />
              </div>
              <div class="battle-card-back">
                <h2>Starfield</h2>
                <p>Jeux de rôle</p>
                <p>PS5</p>
                <p>Neuf</p>
                <p><strong>60</strong> € seulement</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div id="swiper2" class="swiper-container" data-swipe-target="cardBattle2">
    <div class="swiper-wrapper2">
      <div class="swiper-slide">
          <div class="battle-card">
            <div class="battle-card-inner">
              <div class="battle-card-front">
                <img src="/assets/Starfield" />
              </div>
              <div class="battle-card-back">
                <h2>Starfield</h2>
                <p>Jeux de rôle</p>
                <p>PS5</p>
                <p>Neuf</p>
                <p><strong>60</strong> € seulement</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
