

.form-new-game {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .game-photo-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
      display: none;
    }
    label{
      color: white;
      padding: 1em;
      background: linear-gradient(140deg, #4B76C8 0%, #1F4691 100%);
      border-radius: 20px;
      width: 80%;
      text-align: center;
    }
  }
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-input {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 0 0;
  width: 75%;
  max-width: 1000px;
  position: relative;
  color: white;
  .game-photo-button {
    background: linear-gradient(140deg, #4B76C8 0%, #1F4691 100%);
  }
}

.form-select-new-game {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  color: white;
  option {
    color: black;
    background-color: white;
  }
}
